//Colors
$bg-color: #131517;
$text-color: #3e3f3f;
$line-color: #E4E4E4;
$secondary-text-color: #E3C89F;
$link-color: #2e8cd2;
$link-hover-color: #095791;
$grey-bg: #1c1c1c;
$nav-blue-bg: #12181C;
$nav-blue-hover: #131c22;
$nav-blue-selected: #0a1014;
$sidebar-blue-bg: #0f1417;
$footer-text: #E6E6E6;

$font-size: 15px;
$line-height: 22px;

//Font weights
$medium: 300;
$bold: 600;

//Rounded corners
$border-radius: 5px;
@mixin round-corners($dist) {
  -webkit-border-radius: $dist;
  -moz-border-radius: $dist;
  border-radius: $dist;
}

//Text shadow
$shadow-color: #434347; $shadow-x: 1px; $shadow-y: 1px; $shadow-blur: 2px;
@mixin shadow($color, $x, $y, $blur) {
	text-shadow: $color $x $y $blur;
}

//Base button styles
@mixin button-base {
  background: #5C9DCC; /* Old browsers */
	background: -moz-linear-gradient(top, #BFD8EB 0%, #6DA7D1 4%, #6DA7D1 50%, #5C9DCC 51%, #5C9DCC 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BFD8EB), color-stop(4%,#6DA7D1), color-stop(50%,#6DA7D1), color-stop(51%,#5C9DCC), color-stop(100%,#5C9DCC)); 
	background: -webkit-linear-gradient(top, #BFD8EB 0%,#6DA7D1 4%,#6DA7D1 50%,#5C9DCC 51%,#5C9DCC 100%); 
	background: -o-linear-gradient(top, #BFD8EB 0%,#6DA7D1 4%,#6DA7D1 50%,#5C9DCC 51%,#5C9DCC 100%); 
	background: -ms-linear-gradient(top, #BFD8EB 0%,#6DA7D1 4%,#6DA7D1 50%,#5C9DCC 51%,#5C9DCC 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BFD8EB', endColorstr='#5C9DCC',GradientType=0 );
	background: linear-gradient(top, #BFD8EB 0%,#6DA7D1 4%,#6DA7D1 50%,#5C9DCC 51%,#5C9DCC 100%);
	color: #fbfbfb;	
	border: 1px solid #7e7e7d;
	padding: 3px 10px;
	@include round-corners($border-radius);
	text-shadow:
	   -1px -1px 0 #416f91,
	    1px -1px 0 #416f91,
	    -1px 1px 0 #416f91,
	     1px 1px 0 #416f91,
			0px 2px 2px #416f91;
}
@mixin button-hover {
  color: #fff !important; 
  background: #6da7d1; /* Old browsers */
	background: -moz-linear-gradient(top, #AECFE8 0%, #6da7d1 14%, #6da7d1 50%, #5c9dcc 51%, #5c9dcc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AECFE8), color-stop(14%,#6da7d1), color-stop(50%,#6da7d1), color-stop(51%,#5c9dcc), color-stop(100%,#5c9dcc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #AECFE8 0%,#6da7d1 14%,#6da7d1 50%,#5c9dcc 51%,#5c9dcc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #AECFE8 0%,#6da7d1 14%,#6da7d1 50%,#5c9dcc 51%,#5c9dcc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #AECFE8 0%,#6da7d1 14%,#6da7d1 50%,#5c9dcc 51%,#5c9dcc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AECFE8', endColorstr='#5c9dcc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #AECFE8 0%,#6da7d1 14%,#6da7d1 50%,#5c9dcc 51%,#5c9dcc 100%); /* W3C */
}

//Button backgrounds
$button-bg-top: #466299; $button-bg-bottom: #26477e;
$button-bg-top-hover: #324c7f; $button-bg-bottom-hover: #25457c;
$form-button-bg-top: #11202A; $form-button-bg-bottom: #12181D; 
@mixin button-bg($top, $bottom) {
	background: $bottom;
	background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom)); 
	background: -moz-linear-gradient(top,  $top,  $bottom);	
}

//Download buttons
@mixin download-button {
	display: block;
  padding: 0px;
  width: 184px;
  height: 50px;
	@include button-bg($button-bg-top, $button-bg-bottom);
	@include shadow($shadow-color, $shadow-x, $shadow-y, $shadow-blur);
	color: #fff;
}
@mixin download-button-hover {
	color: $text-color !important; 
	@include button-bg($button-bg-top-hover, $button-bg-bottom-hover);
}

//Box Shadow
$h-length: 0px; $v-length: 0px; $shadow-blur: 4px; $sh-color: #252a2f;
$v-length-fixed: 2px;
@mixin box-shadow($h, $v, $b, $c) {
	-webkit-box-shadow: $h $v $b $c;
	-moz-box-shadow: $h $v $b $c;
	box-shadow: $h $v $b $c;
}

@mixin press-list {
	ul#press {
		margin: 0;
		list-style: none;
		li {
			margin-bottom: 12px;
			.source {
				margin-bottom: 0;
			}
		}
	}
}
