@import "960";
@import "reset"; 
@import "global-styles"; 

html {
	-webkit-font-smoothing: antialiased; 
	background: #131517;
}

body { 
	background: url(/images/bg/body.gif) repeat;
	font: #{$font-size}/#{$line-height} "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color; 
	letter-spacing: 0.05em;
	font-weight: $medium;
	text-shadow: 0px 0px 3px #363e45;
}

#media {
	background: url(/images/bg/media.gif) repeat;
	overflow: hidden;	
	border-bottom: 2px solid #2d3339;
}

footer {
	background: #131517;
}

.container_12 {
	overflow: hidden;
}

/*general*/
a, a:active, a:visited {
	color: $link-color;	
	text-decoration: none;
}
a:hover {
	color: $link-hover-color;
}
h2 {
	font-size: $font-size * 2;
	line-height: ($font-size * 2) + 6;
	font-weight: $medium;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
a.image-link {
	display: block;
	background: black;
	margin-bottom: 2px;
	img {
		opacity: 0.8;
	}
	&:hover img {
		opacity: 1;
	}
}

/*header*/
header {
	padding: 34px 0 30px 160px;
	overflow: hidden;
	h1 {
		width: 383px;
		height: 33px;
		float: left;
		a {
			background: transparent url(/images/bg/h1.png) top no-repeat;		
			display: block;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			&:hover {
				background-position: bottom;
			}
		}
	}
	#topguest {
		float: left;
		margin: 14px 0 0 20px;
	}
}

/* ---------
homepage
-----------*/

/*blog home*/
.post-home {
	border-top: 2px solid $line-color;
	overflow: hidden;
	padding-bottom: 30px;
	img {
		border: 2px solid $line-color;
		border-top: none;
	}
	.meta-data {
		position: relative;
		a.image-link {
			height: 58px;
			width: 60px;
		}
		.author-link {
			display: block;
		}
	}
	h1 {
		font-size: $font-size * 2;
		line-height: ($font-size * 2) + 6;
		font-weight: $medium;
		letter-spacing: 2px;
		margin-top: 12px;
	}
	.post-summary {
		margin-top: 16px;
	}
}

/*press*/
#media {
	padding: 20px 0 0 0;
	h2 {
		line-height: 30px;
	}
	ul {
		margin: 0;
		list-style: none;
		li {
			margin-bottom: 12px;
		}
	}
	#images a.image-link {
		height: 136px;
		width: 136px;
		float: left;
		margin: 0 20px 20px 0;
		display: block;
		border: 2px solid $line-color;
		&.omega {
			margin-right: 0;
		}
	} 
}





@import "boilerplate"; 