@import "960";
@import "reset"; 
@import "global-styles"; 

html {
	-webkit-font-smoothing: antialiased; 
	background: #131517;
}

body { 
	background: url(/images/bg/body.gif) repeat;
	font: #{$font-size}/#{$line-height} "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color; 
	letter-spacing: 0.03em;
	font-weight: $medium;
	text-shadow: 0px 0px 3px #363e45;
	overflow: hidden;
}

#media {
	background: url(/images/bg/media.gif) repeat;
	overflow: hidden;	
	border-bottom: 2px solid #2d3339;
}

footer {
	background: #131517;
}

.container_12 {
	overflow: hidden;
}

/*general*/
a, a:active, a:visited {
	color: $link-color;	
	text-decoration: none;
}
a:hover {
	color: $link-hover-color;
}
h2 {
	font-size: $font-size * 2;
	line-height: ($font-size * 2) + 6;
	font-weight: $medium;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
a.image-link {
	display: block;
	background: black;
	margin-bottom: 2px;
	img {
		opacity: 0.8;
	}
	&:hover img {
		opacity: 1;
	}
}
p, ul, ol {
	margin-bottom: 18px;
} 
em {
	color: #e3c89f;
}
img.author {
	border: 2px solid $line-color;
	border-top: none;
}
.meta-data {
	position: relative;
	a.image-link {
		height: 58px;
		width: 60px;
	}
	.author-link {
		display: block;
	}
}
.button { 
	@include button-base;
	padding: 6px 14px;
	&:hover {
		@include button-hover;
/*		border: 1px solid #faa;		*/
	}
}

#fork {
	width: 200px;
	text-align: center;
	@include button-base;
	overflow: hidden;
	position: absolute;
  left: -3.5em;
  top: 2.5em;
	-moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
	border-color: #50616e;
	&:hover {
		@include button-hover;
	}
}

/*header*/
header {
	padding: 44px 0 40px 158px;
	overflow: hidden;
	h1 {
		width: 383px;
		height: 33px;
		float: left;
		a {
			background: transparent url(/images/bg/h1.png) top no-repeat;		
			display: block;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			&:hover {
				background-position: bottom;
			}
		}
	}
	#topguest {
		float: left;
		margin: 14px 0 0 20px;
	}
}



/* ---------
homepage
-----------*/

/*blog home*/
.post-home {
	border-top: 2px solid $line-color;
	overflow: hidden;
	padding-bottom: 30px;	
	h1 {
		font-size: $font-size * 2;
		line-height: ($font-size * 2) + 6;
		font-weight: $medium;
		letter-spacing: 1px;
		margin-top: 12px;
		color: #c9c9c9;
	}
	.post-summary {
		margin-top: 16px;
	}
}

/*press*/
#media {
	padding: 20px 0 20px 0;
	h2 {
		line-height: 30px;
	}
	#images a.image-link {
		height: 136px;
		width: 136px;
		float: left;
		margin: 0 20px 20px 0;
		display: block;
		border: 2px solid $line-color;
		&.omega {
			margin-right: 0;
		}
	} 
}
#press-button {
	display: inline-block;
	margin-top: 4px;
}

/*Posts*/
#post {
	overflow: hidden;
	padding-bottom: 20px;
	.meta-data {
		border-top: 2px solid $line-color;
		margin-right: 0 !important;
		padding-right: 20px;
	}
	.post-body {
		border-top: 2px solid $line-color;
		margin-left: 0 !important;
	}
	h1 {
		font-size: $font-size * 2;
		line-height: ($font-size * 2) + 6;
		font-weight: $medium;
		letter-spacing: 1px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	img.in-post {
		float: left;
		margin-right: 14px;
		border: 2px solid $line-color;
		margin-bottom: 20px;
	}
}

/* ---------
press page
-----------*/
@include press-list;

/* ---------
footer
-----------*/
footer {
	padding: 30px 0;
	#tg-logo-home {
		background: transparent  url(/images/bg/tg.png) no-repeat top;
		width: 60px;
		height: 52px;
		display: block;
		text-indent: -9999px;
		&:hover {
			background-position: bottom;
		}
	}
	.tagline {
		font-size: 33px;
		letter-spacing: 1px;
		margin: 14px 0 0 0;
	}
	#footer-links {
		margin: 10px 0 0 0;
		list-style: none;
		li {
			float: left;
			margin-right: 25px;
		}
	}
	#fine-print {
		margin-top: 20px;
	}
}

@import "boilerplate"; 